<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-lg-6 offset-lg-3">
        <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title%>" required>
                <div class="valid-feedback">
                    &#10003;
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location%>" required>
                <div class="valid-feedback">
                    &#10003;
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="0.00" value="<%=campground.price%>" id="price"
                        aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        &#10003;
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]"
                    required><%=campground.description%></textarea>
                <div class="valid-feedback">
                    &#10003;
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Add Image(s)</label>
                <div class="form-file">
                    <input class="form-control" type="file" id="image" name="image" multiple
                        onchange="previewMultiple(event)">
                    <label for="image" class="form-label custom-file-label" id="previewLabel"></label>
                </div>
                <div id="previewImg"></div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <% campground.images.forEach(function(img, i) { %>
                    <div class="col-6">
                        <div class="row">
                            <div class="d-flex col-12 col-sm-8 justify-content-center px-0">
                                <img src="<%= img.thumbnail %>" class="img-thumbnail px-1" alt="">
                            </div>
                            <div class="d-flex col-sm-4 col-12 justify-content-center justify-content-sm-start align-items-center text-center p-0">
                                <input type="checkbox" class="form-check-input p-0 ms-1"
                                    name="deleteImages[]" id="image-<%=i%>" value="<%= img.filename %>">
                                <label for="image-<%= i %>"
                                    class="form-check-label ps-1">Delete?</label>
                            </div>

                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id%>">Back to Campground</a>
    </div>
</div>